nav a {
  font-size: 20px;
  text-decoration: none;
  color:white;
  border: 3px solid;
  border-radius: 10px;
  background-color: navy;
  padding: 5px;
  margin: 10px;
}
nav{
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.section{
    background-color: white;
    border: 5px solid navy;
    border-radius:45px;
    margin:30px;
    padding:15px;

}

footer{
  text-align:center;
}

